<h1>Carrito</h1>
<div class="div-products-btn"><a class="view-products" href="/products">Volver a
    los productos</a></div>
<p>El id de mi carrito es: 65dbf04b8e58e8e94a3e2844</p>
{{#if products}}
  <table id="cart-products">
    <thead>
      <th>ID</th>
      <th>Título</th>
      <th>Código</th>
      <th>Precio Unitario</th>
      <th>Cantidad</th>
    </thead>
    <tbody>
      {{#each products}}
        <tr><td>{{productId._id}}</td>
          <td>{{productId.title}}</td>
          <td>{{productId.code}}</td>
          <td>{{productId.price}}</td>
          <td>{{quantity}}</td></tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <span>No tienes productos en el carrito</span>
{{/if}}