<div class="perfil">
  <h1>Mi Perfil</h1>
  <table class="user-table">
    <tr><td>Nombre:</td><td>{{user.name}}</td></tr>
    <tr><td>Apellido:</td><td>{{user.lastname}}</td></tr>
    <tr><td>Nombre completo:</td><td>{{user.full_name}}</td></tr>
    <tr><td>Email:</td><td>{{user.email}}</td></tr>
    <tr><td>Edad:</td><td>{{user.age}}</td></tr>
    <tr><td>Role:</td><td>{{user.role}}</td></tr>
  </table>
  <div class="perfil-btns">
    <div class="div-products-btn">
      <a href="/products"><button class="green-btn">Ir a productos</button></a>
    </div>
    <div id="div-logout">
      <button onclick="logout()" class="logout">Logout</button>
    </div>
  </div>
</div>